@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #fff;
}

body{
  background-color: #111;
}

::selection{
  color: black;
  background-color: rgba(255, 255, 255, 0.742);
  
}

#tasklist::-webkit-scrollbar{
  display: none;
}#alltask::-webkit-scrollbar{
  display: none;
}

::-webkit-scrollbar {
  width: 12px;  
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f160; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

* {
  scrollbar-width: thin; 
  scrollbar-color: #888 #f1f1f1; 
}

@supports (scrollbar-color: #888 #f1f1f1) {
  * {
      scrollbar-color: #888 #f1f1f1;
  }
}
